
.sidebar {
    float:left;
    width:130px;
    height:1400px;
    background:white;
}


.nav {
    margin-bottom: 0px;
}
body{
    background-color: #ffff;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
      
 }
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;  
    color: rgb(185, 62, 4) !important;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(185, 62, 4) !important;
    font-weight: bold;
    padding-top :3%;
 }
h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    
}

.col-md-8{
    padding: 2%; 
    margin-left: 5%;
    margin-right: 10%; 
    background-color:white;
    height : 100%;
    width: 100%;
    flex-direction: column; 
    overflow: hidden;
 }
.container {
    padding: 3%; 
    /* padding-top:60px;
    padding-left:60px; */
    background-color: rgb(222, 217, 228);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
 }
 .rightbar {
    float:right;
    width:100px;
    height:1400px;
    background:white;
}

